[submodule "thirdparty/FreeRTOS-Kernel-SMP"]
	path = thirdparty/FreeRTOS-Kernel-SMP
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = smp
[submodule "thirdparty/hagl"]
	path = thirdparty/hagl
	url = https://github.com/tuupola/hagl.git
